<aside class="sidebar">
    <button id="sidebarToggle" class="sidebar-toggle">
        <i class="fas fa-chevron-left"></i>
    </button>
    <div class="sidebar-header">
        <div class="brand-block">
            <div class="logo">
                <span>DOCKER部署</span>
            </div>
        </div>
    </div>
    
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="/src/pages/container/container.html">
                    <i class="fab fa-docker"></i>
                    <span>容器管理</span>
                </a>
            </li>
            <li>
                <a href="/src/pages/deploy/deploy.html">
                    <i class="fab fa-docker"></i>
                    <span>容器部署</span>
                </a>
            </li>
            <li>
                <a href="/src/pages/image/image.html">
                    <i class="fab fa-docker"></i>
                    <span>镜像管理</span>
                </a>
            </li>
            <li>
                <a href="/src/pages/terminal/terminal.html">
                    <i class="fas fa-terminal"></i>
                    <span>终端</span>
                </a>
            </li>
            <li>
                <a href="/src/pages/settings/settings.html">
                    <i class="fas fa-cog"></i>
                    <span>系统设置</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="sidebar-footer">
        <button id="logoutBtn" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i>
            <span>退出登录</span>
        </button>
    </div>
</aside>
